@import "../variables/colors";

.triangle-background {
  background: url("../assets/team-bg.png") top center repeat-y;
  background-size: 100%;
}

.dark-text {
  font-size: 15px;
  color: $dark-text-color;
  margin-bottom: 5px;
  word-wrap: break-word;

  &.label {
    font-weight: bold;
  }
}

.light-text {
  font-size: 15px;
  color: $gray;
  word-wrap: break-word;
  margin-bottom: 18px;
  font-weight: 300;

  a {
    text-decoration: none;

    &:visited, &:active {
      color: $gray;
    }
  }
}

.row {
  display: flex;
  margin-bottom: 27px;

  .col-1 {
    flex-grow: 1;
    flex-basis: 25%;
  }

  .col-2 {
    flex-grow: 2;
    flex-basis: 50%;
    max-width: 50%;
  }
}

.separator {
  margin-top: 17px;
  margin-bottom: 46px;
  border: 1px solid rgba(41, 50, 71, 0.1);

  &.small-margin {
    margin-bottom: 17px;
  }
}