@import "../../styles/variables/colors";

.input-wrapper {
  display: inline-block;
  position: relative;

  input, textarea {
    height: 48px;
    padding: 17px 21px;
    border: none;
    outline: none;
    box-shadow: 0 0 24px rgba(171, 171, 171, 0.2);
    border-radius: 10px;
    box-sizing: border-box;

    &:focus {
      box-shadow: 0 0 24px rgba(138, 134, 253, 0.6);
    }
  }

  button {
    position: absolute;
    right: 0;
    height: 48px;
    border-radius: 29.5px;
    width: 48px;
    background: linear-gradient(182.78deg, #7A73FC 13.62%, #928FFD 106.95%);
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;

    &.wide {
      width: 75px;
    }

    &:hover {
      box-shadow: 0 0 10px rgba(138, 134, 253, 0.8);
    }
  }
}