@import "../../styles/variables/colors";

.default-button {
  background-color: $purple;
  box-shadow: 0 0 44px rgba(0, 0, 0, 0.12);
  border-radius: 29.5px;
  height: 36px;
  line-height: 36px;
  padding: 0 17px;
  color: #fff;
  border: 0;
  outline: 0;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 44px rgba(138, 134, 253, 0.52);
  }
}