// HTML default style reset
@import "helpers/reset";

// Variables
@import "variables/colors";

// Globals

body {
  font-family: 'Roboto', sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 860px;
  margin: 0 auto;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $transparent-text-color;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $transparent-text-color;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $transparent-text-color;
}

// Components
@import "components/components";