@import "../../../../styles/variables/colors";

.company-card {
  position: relative;
  box-sizing: border-box;
  width: 273px;
  height: 248px;
  background: #fff;
  border: 1px solid rgba(41, 50, 71, 0.1);
  border-radius: 20px;
  padding: 24px;
  margin-bottom: 20px;
  text-decoration: none;

  &:hover {
    border: none;
    box-shadow: 0 0 54px rgba(138, 134, 253, 0.25);
  }

  &:nth-child(3n + 2) {
    margin: 0 20px;
  }

  .company-title {
    font-size: 25px;
    font-family: 'Varela Round', sans-serif;
    color: $dark-text-color;
  }

  .company-stats {
    position: absolute;
    bottom: 24px;
    width: 100%;

    p {
      color: $dark-text-color;
      font-size: 15px;

      .stat-label {
        font-size: 12px;
        color: $light-text-color;
      }
    }
  }
}