.section-profit {

  button {
    margin-top: 25px;
  }

  .rating {
    display: flex;
    width: 220px;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    cursor: pointer;

    span {
      color: rgba(41, 50, 71, 0.5);
      font-size: 12px;
    }
  }
}