@import "../../../styles/variables/colors";

.tab-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: $gray;
  font-size: 15px;
  margin-right: 40px;
  font-weight: bold;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;

  .in-out-button {
    display: inline-flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 10px;
    margin-right: 13px;
    transition: margin 0.3s ease;
    border-radius: 24px;

    &.active {
      height: 48px;
      width: 48px;
      background: linear-gradient(182.78deg, #7A73FC 13.62%, #928FFD 106.95%);
      color: #fff;
      font-size: 15px;
    }

    &:first-child {
      margin-left: 13px;
    }

    &:last-child.active {
      margin-right: 0;
    }
  }

  &:first-child {
    margin-left: 40px;
  }

  &.active {
    background-color: #fff;
    box-shadow: 0 0 24px rgba(171, 171, 171, 0.2);
    border-radius: 29.5px;
    color: $dark-text-color;
    height: 40px;
    padding: 0 29px;
  }

  &.no-padding {
    padding-right: 0;
  }
}