@import "../../../styles/variables/colors";

.home-header {
  background: url("../../../assets/header-background.png") center center no-repeat;
  background-size: cover;
  height: 535px;
  color: #fff;
  font-weight: 300;

  .header-text {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding-top: 53px;

    .header-title {
      font-family: 'Varela Round', sans-serif;
      font-size: 25px;
      line-height: 30px;
      margin: 15px 0 22px 0;
    }

    .header-description {
      font-size: 12px;
      line-height: 20px;
    }
  }
}